{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block content %}

    <h3>Battleship Game</h3>

    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}

    {{ notification[0]|default() }}

    <div>

        <table>
            {% for row in range(0, board.getRows() - 1) %}
                <tr>
                {% for col in range(0, board.getCols() - 1) %}
                    <td>
                        {% if not board.isPositionHit(row, col) %}
                            .
                        {% elseif board.isPositionHit(row, col) and board.hasShipAtPosition(row, col) %}
                            x
                        {% elseif board.isPositionHit(row, col) and not board.hasShipAtPosition(row, col) and not board.isCheat() %}
                            -
                        {% elseif board.isPositionHit(row, col) and not board.hasShipAtPosition(row, col) and board.isCheat() %}

                        {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    {{ winMessage[0]|default() }}

    <form method="post" action="{{ path('game_shoot') }}">
        Enter coordinates (row, col), e.g. A1
        <input name="position" type="text" size="2" maxlength="2" />
        <input type="submit" value="Shoot!">
    </form>

    <form method="post" action="{{ path('game_reset') }}">
        <input type="submit" value="New Game" />
    </form>

    <form method="post" action="{{ path('game_cheat') }}">
        <input type="submit" value="Cheat" />
    </form>

{% endblock %}


