{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block content %}

    Battleship Game!!!

    <form method="post" action="{{ path('game_shoot') }}">
        Enter coordinates (row, col), e.g. A5
        <input name="position" type="text" size="2" maxlength="2" />
        <input type="submit" value="Shoot!">
    </form>

    <form method="post" action="{{ path('game_reset') }}">
        <input type="submit" value="New Game" />
    </form>

    <form method="post" action="{{ path('game_cheat') }}">
        <input type="submit" value="Cheat" />
    </form>

{#
    <pre>
        {{ message }}

        <table>
            {% for rows, cols in game %}
                <tr>
                    {% for col in cols %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        {{ messageWin }}
    </pre>

    <form method="post" action="./post">
        Enter coordinates (row, col), e.g. A5 <input name="pos" type="text" size="2" maxlength="2"/>
        <input type="submit" value="Submit">
    </form>

    <form method="post" action="./reset">
        <input type="submit" value="Reset Game">
    </form>
#}

{% endblock %}


